@model Uye
@{
    ViewData["Title"] = "Kayıt ekranı";
    @if (TempData["durum"] != null)
    {
        <script>alert("@TempData["mesaj"]");</script>
    }
}

<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(assets/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        Sign Up
                                    </h5>
                                </div>
                                <div>
                                    <form asp-action="Index" method="post" id="formone">

                                        <div class="form-group">
                                            <label><b>Name</b></label>
                                            <input type="text" class="form-control name" placeholder="Name" asp-for="Ad">
                                        </div>

                                        <div class="form-group">
                                            <label><b>Surname</b></label>
                                            <input type="text" class="form-control surname" placeholder="Surname" asp-for="Soyad">
                                        </div>
                                        <div class="form-group">
                                            <label><b>Email address</b></label>
                                            <input type="email" class="form-control mail" placeholder="E-mail" aria-describedby="emailHelp" asp-for="Eposta">
                                        </div>
                                        <div class="form-group">
                                            <label><b>Password</b></label>
                                            <input type="password" maxlength="15" class="form-control password" placeholder="Password" asp-for="Sifre">
                                            <small id="pHelp" class="form-text text-muted"><b>Password can be at least 8 and at most 15 characters.</b></small>
                                        </div>
                                        <div class="text-center"><button type="submit" class="btn btn-primary btnTik"><b>Register</b></button></div>

                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="title-box-2 pt-4 pt-md-0">
                                    <h5 class="title-left">
                                        Letter to me from the future: I don't want you to forget !
                                    </h5>
                                </div>
                                <div class="more-info">
                                    <p class="lead">
                                        I'm writing this letter for my future because I don't want these memories to fade away over time. When he experiences too much, I want my future self to stop and take this letter and think. How do we go where we want to be if we don't know where we come from and who we are?
                                        I want my future self to stop, take a deep breath and think…

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{

    <script>
        var Ad = $(".name");
        var Soyad = $(".surname");
        var Email = $(".mail");
        var Password = $(".password");
        var Kontrol = new RegExp(/(.+)@@(.+){2,}\.(.+){2,}/);
        $(".btnTik").click(function (event) {

            if (Ad.val() == null || Ad.val() == "" || Soyad.val() == null || Soyad.val() == "" || Email.val() == null || Email.val() == "" || Password.val() == null || Password.val() == "" || Password.val().length < 8 || !Kontrol.test(mail.val())) {
                durum = false;
                event.preventDefault();
                alert("fields entered are blank or not available");
            }



        });


    </script>


}

