@{
    ViewData["Title"] = "Privacy Policy";
  
}


    <section class="paralax-mf footer-paralax bg-image sect-mt4 route ">
        <div class="overlay-mf"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="contact-mf">
                        <div id="contact" class="box-shadow-full">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="more-info ">
                                        <div class="service-content col-12 " style="margin-top:150px">
                                            <h3 class="s-title">CONFIRM YOUR E-MAIL ADDRESS</h3>
                                            <p class="s-description text-center" style="margin-bottom:350px">
                                                <a href="https://accounts.google.com/ServiceLogin/identifier?elo=1&flowName=GlifWebSignIn&flowEntry=AddSession" class="btn btn-sm btn-primary">Click to confirm your e-mail address</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
