@{
    ViewData["Title"] = "Privacy Policy";

}

<section class="paralax-mf footer-paralax bg-image sect-mt4 route ">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="more-info ">
                                    <div class="service-content col-12 " style="margin-top:150px">
                                        <p class="s-description text-center" style="margin-bottom:350px">

                                            <h4> Congratulations! </h4>
                                            <h3> Your membership is completed</h3>
                                           

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{


}