@model Uye
@{
    ViewData["Title"] = "Privacy Policy";
    @if (TempData["durum"] != null)
    {
        <script>alert("@TempData["mesaj"]");</script>
    }
    
}

<div style="background-size: 100% 100%; background-color:black">
    <div id="home" class="intro route bg-image" style="background-image: url(/Template/assets/img/zamn.jpg)">
        <div class="overlay-itro"></div>
        <div class="intro-content display-table ">
            <div class="table-cell ">
                <div class="container">
                    <div class="row justify-content-center ">
                        <form asp-controller="SignIn" asp-action="ForgotPassword" method="post">
                            <div class="form-group">
                                <label><b>Email address</b></label>
                                <input type="email" class="form-control  mail" id="mail" placeholder="E-mail" aria-describedby="emailHelp" asp-for="Eposta">
                            </div>
                            <button type="submit" class="btn btn-outline-light mt-3 font-weight-bold btnTik"><b>EMAIL SIGN IN LINK</b></button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
 <script>

        var m = $(".mail");
        $(".btnTik").click(function () {

            if (m.val() == null || m.val() == "") {

                event.preventDefault();
                alert("fields entered are blank or not available");

            }
        })
 </script>

}