@model Uye
@{
    ViewData["Title"] = "Home Page";
    @if (TempData["durum"] != null)
    {
        <script>alert("@TempData["mesaj"]");</script>
    }
    @if (TempData["durumtwo"] != null)
    {
        <script>alert("@TempData["msj"]");</script>
    }
    @if (TempData["onay"] != null)
    {
        <script>alert("@TempData["mesj"]");</script>
    }
    @if (TempData["d"] != null)
    {
        <script>alert("@TempData["m"]");</script>
    }
}

<div style="background-size: 100% 100%; background-color:black">
    <div id="home" class="intro route bg-image" style="background-image: url(/Template/assets/img/zamn.jpg)">
        <div class="overlay-itro"></div>
        <div class="intro-content display-table ">
            <div class="table-cell ">
                <div class="container">
                    <div class="row justify-content-center ">
                        <form asp-controller="SignIn" asp-action="Index" method="post">
                            <div class="form-group">
                                <label for="InputEmail "><b>Email</b></label>
                                <input type="email" class="form-control " id="InputEmail" asp-for="Eposta" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label for="InputPassword"><b>Password</b></label>
                                <input type="password" asp-for="Sifre" class="form-control" id="InputPassword">
                                <small><b><a href="/SignIn/ForgotPassword" class="text-primary">I forgot my password</a></b></small>
                            </div>
                            <button type="submit" class="btn btn-outline-light mt-3 font-weight-bold btnTik"><b>Login</b></button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>

        var Email = $("#InputEmail");
        var Password = $("#InputPassword");

        $(".btnTik").click(function (event) {

            if (Email.val() == null || Email.val() == "" || Password.val() == null || Password.val() == "") {

                event.preventDefault();
                alert("fields cannot be blank");
            }
        });
    </script>
}