@{
    ViewData["Title"] = "Privacy Policy";
  
}


    <section class="paralax-mf footer-paralax bg-image sect-mt4 route ">
        <div class="overlay-mf"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="contact-mf">
                        <div id="contact" class="box-shadow-full">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="more-info ">
                                        <div class="service-content col-12 text-center" style="margin-top:50px">
                                            <h4>Check your email for a link that you can use to sign in to TiMe!</h4>
                                            <p class="s-description text-center" style="margin-bottom:350px">
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
@section Scripts{ 


}