@model Uye
@{
    ViewData["Title"] = "Privacy Policy";
  
}
    <div style="background-size: 100% 100%; background-color:black">
        <div id="home" class="intro route bg-image" style="background-image: url(/Template/assets/img/zamn.jpg)">
            <div class="overlay-itro"></div>
            <div class="intro-content display-table ">
                <div class="table-cell ">
                    <div class="container">
                        <div class="row justify-content-center ">
                            <form asp-controller="SignIn" asp-action="NewPassword" method="post">
                                <div class="form-group ">
                                    <label><b>Password</b></label>
                                    <div class="input-group" style="background-color:white" id="show_hide_password">
                                        <input class="form-control" type="password" maxlength="15" asp-for="Sifre" id="InputPassword">
                                        <div class="input-group-addon">
                                            <a href=""><i class="fa fa-eye-slash form-control" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <small id="pHelp" class="form-text text-muted"><b>Password can be at least 8 and at most 15 characters.</b></small>
                                </div>

                                <div class="form-group ">
                                    <label><b>Again Password</b></label>
                                    <div class="input-group" style="background-color:white" id="show_hide_password">
                                        <input class="form-control" type="password" maxlength="15" id="InputPassword2">
                                        <div class="input-group-addon">
                                            <a href=""><i class="fa fa-eye-slash form-control" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <small id="pHelp" class="form-text text-muted"><b>Password can be at least 8 and at most 15 characters.</b></small>
                                </div>


                                <button type="submit" class="btn btn-outline-light mt-3 font-weight-bold btnTik"><b>Değistir</b></button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Intro Section -->
    </div>

    
@section Scripts{ 
    <script>
        var pswrd = $("#InputPassword");
        var pswrd2 = $("#InputPassword2");


        $(".btnTik").click(function () {

            
            if (pswrd.val() == null || pswrd.val() == "" || pswrd.val().length < 8 || pswrd2.val() == null || pswrd2.val == "" || pswrd2.val().length < 8) {
                event.preventDefault();
                alert("fields entered are blank or not available");
            }
            if (pswrd.val() != pswrd2.val()) {
                event.preventDefault();
                alert("passwords are not the same");
            }

        })
         $(document).ready(function () {
            $("#show_hide_password a").on('click', function (event) {
                event.preventDefault();
                if ($('#show_hide_password input').attr("type") == "text") {
                    $('#show_hide_password input').attr('type', 'password');
                    $('#show_hide_password i').addClass("fa-eye-slash");
                    $('#show_hide_password i').removeClass("fa-eye");
                } else if ($('#show_hide_password input').attr("type") == "password") {
                    $('#show_hide_password input').attr('type', 'text');
                    $('#show_hide_password i').removeClass("fa-eye-slash");
                    $('#show_hide_password i').addClass("fa-eye");
                }
            });
        });
    </script>

}