@model Posta
@{
    ViewData["Title"] = "Privacy Policy";
    @if (TempData["durum"] != null)
    {
        <script>alert("@TempData["msj"]");</script>
    }
    @if (TempData["drm"] != null)
    {
        <script>alert("@TempData["mesaj"]");</script>
    }
}

<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(assets/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        Sign Up
                                    </h5>
                                </div>
                                <form asp-action="Send" method="post">

                                    <div class="form-group">
                                        <input type="email" class="form-control Postaadresi " id="exampleInputEmail1" asp-for="PostaAdresi" aria-describedby="emailHelp" placeholder="recipient">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control name" placeholder="subject" asp-for="MetinKonusu">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control Txt" rows="12" placeholder="write to the future" maxlength="6850" asp-for="Metin"></textarea>
                                    </div>
                                    <label><b>DELIVER IN</b></label><br />
                                    <input type="datetime-local" asp-for="IletilecekZaman" class="Sendtime">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-outline-primary mt-3 Sendt"><b>Send to the future</b></button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <script>
        var Postaadresi = $(".Postaadresi");
        var Txt = $(".Txt");
        var Sendtime = $(".Sendtime");
        var Kontrol = new RegExp(/(.+)@@(.+){2,}\.(.+){2,}/);

        $(".Sendt").click(function (event) {
            if (Postaadresi.val() == null || Postaadresi.val() == "" || Txt.val() == null || Txt.val() == "" || Sendtime.val() == null || Sendtime.val() == "" || !Kontrol.test(Postaadresi.val())) {

                event.preventDefault();
                alert("fields entered are blank or not available");
            }
            else {
                return confirm("It is not going to the past, not to the present, but to the future! Are you sure ??");
            }
        })
    </script>

}

